# Local .terraform directories
.terraform/

# Terraform state files
*.tfstate
*.tfstate.backup

# Crash log files
crash.log

# Ignore override files as they are usually local config
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI configuration files
.terraformrc
terraform.rc

# .env files or any credentials
.env
*.env

# Ignore local execution plans
*.tfplan

# Ignore sensitive Terraform variable files
*.tfvars
*.tfvars.json

# Python specific (if part of your flask project)
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.env
venv/
ENV/
env/
.Python

# Ignore VS Code and other IDE settings
.vscode/
.idea/
*.swp
*.swo

# macOS and system files
.DS_Store

.terraform/
